@import "../../shared/style/config";

.movie-box {
  height: 100%;

  &__image {
    max-height: 208px;
  }

}

@include smartphone {
  .movie-box {
    &__image {
      max-height: 320px;
    }
  }
}

@include desktop {
  .movie-box {
    &__image {
      max-height: 340px;
    }
  }
}

@include desktop-xl {
  .movie-box {
    &__image {
      max-height: 400px;
    }
  }
}

