<mat-card class="movie-box">
  <img mat-card-image [src]="movie.Poster" alt="{{movie.Title}}" class="movie-box__image">
  <mat-card-header>
    <mat-card-title>{{ movie.Title }}</mat-card-title>
    <mat-card-subtitle>{{ movie.Year }} | {{movie.Genre}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{movie.Plot}}
    </p>
  </mat-card-content>
  <mat-card-actions class="movie-box__actions">
    <a routerLink="/{{movie.imdbID}}" mat-button>More</a>
  </mat-card-actions>
</mat-card>
