$main-background: #fffbf9;
$main-orange: #f1c6b5;
$subtitle: rgba(0,0,0,0.7);

// Small devices (landscape phones, 576px and up)
@mixin smartphone {
  @media (min-width: 576px) {
    @content
  }
}

// Medium devices (tablets, 768px and up)
@mixin tablet {
  @media (min-width: 768px) {
    @content
  }
}

// Large devices (desktops, 992px and up)
@mixin desktop {
  @media (min-width: 992px) {
    @content
  }
}

// Extra large devices (large desktops, 1200px and up)
@mixin desktop-xl {
  @media (min-width: 1200px) {
    @content
  }
}

mat-card {
  box-sizing: border-box !important;
}
