@import "./shared/style/config";

.app-wrapper {
  background-color: $main-background;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box !important;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
