<mat-card class="search">
  <mat-card-content>
    <h1 class="search__title">MOVIE BROWSER</h1>
    <form [formGroup]="searchForm" class="form" (ngSubmit)="onSearchMovie()">
      <div class="form__row">
        <mat-form-field appearance="outline" class="form__input--search">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Ex. Harry Potter" type="text" formControlName="t">
          <mat-error *ngIf="searchForm.controls.t.hasError('required')">
            Enter movie title you want to search
          </mat-error>
        </mat-form-field>

        <button mat-mini-fab color="primary" class="form__button">
          <mat-icon>search</mat-icon>
        </button>
      </div>

      <div class="form__filters">
        <mat-form-field appearance="outline" class="form__input">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option>---</mat-option>
            <mat-option *ngFor="let type of types" [value]="type.value">
              {{type.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form__input">
          <mat-label>Year</mat-label>
          <mat-select formControlName="y">
            <mat-option>---</mat-option>
            <mat-option *ngFor="let year of years" [value]="year">
              {{year}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
