@import "../../shared/style/config";

.settings-button {
  display: none;
}

@include tablet {
  .welcome-wrapper {
    position: relative;
  }

  .settings-button {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
  }
}
